* {
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: #F8FAFC;

}

.logo{
    flex: 20%;
    justify-content: space-evenly;
    font-family:Arial, Helvetica, sans-serif;
    justify-self: baseline;
    padding: 15px;
    

}

.menu{
    display: flex;
    border: 10px, solid #D9EAFD;
    flex: 100%;
    padding: 20px;

    h3{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
   

    p{
        justify-content: flex-end;
        display: inline-block;
        align-content: space-around;
        font-size: medium;
        position: relactive;
        margin-top: 2px;
        
    }


}

p{
    flex: 60%;
    justify-content: flex-end;
   
    align-items: end;
    margin-bottom: 0px;

}

.cep{
    margin: 30px;
    padding: 20px;
    flex: 60%;
    justify-content: end;
    margin-top: 10px;
}

a{
    margin: 10px;
    padding-right: 10px;
    justify-content: flex-start;
    
}

button{
    margin: 5px;
    padding: 5px;
    height: 1cm;
    background-color: #ffffff;
    border: #EFF3EA;
}

.quantidade-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}

h6{
    margin: 0 10px;
    position: static;
    justify-items: flex-start;
    font-size: larger;

}

span {

    opacity: 0;
  
    transition: all 0.3s;
  
  }
  
   