* body{
    display: flexbox;
    font-family: 'Times New Roman', Times, garamond;
   
}

.menu{
    height: 90px;
    background-color: #BCCCDC;
}

.menu h1{
    color: #000000;
    padding-top: 80px;
    font-size: xx-large;
    justify-content: flex-start;
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: -550px;
    margin-top: -9px;
}


nav{
    
    display: flex;
    padding-left: 350px;
    justify-content: space-between;
    position: relative;
    top: -70px;
    margin-bottom: 0px;
}

nav a{
  
    padding: 10px;
    justify-content: space-between;
    padding-bottom: 0;
}

nav input{
    padding: 6px;
    display: block;
    background-color: #ffffff;
    width: 15cm;
    height: 15px;
    margin: 0 23px;
    border-color: #ffffff;
    margin-top: 5.9px;
}

 nav button{
    margin: 5px;
    padding: -15px;
    height: 35px;
    width: 50px;
    margin-right: 40px;
    margin-left: -20px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    
}
.ajuda{
 
    padding: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #BCCCDC;
}

 button{

    padding: 10px;
    justify-content: flex-start;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 9px;
    margin-bottom: -8px;
 }

footer{
    background-color: #9AA6B2;
    margin-bottom: 0;
    padding: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    
}

footer div{
    display: flex;
    flex-direction: column;
}

footer h5{
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
    justify-items: flex-end;
}


#img-busca{
    width: 20px;
}

#imagem-nav{
    width: 30px;
}

main{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #D9EAFD;
    height: 70%;
    height: auto;

    p{
        text-align: justify;
        line-height: 1.5;
        margin-top: 45px;
        font-size: 20px;
        align-self: center;
        height: auto;
    }

    button{
        padding: 10px;
        justify-content: flex-start;
        background-color: #FFFFFF;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 9px;
        align-self: start;
    }

    li{
        list-style: none;
        padding: 5px;
        background-color: #BCCCDC;
        border-radius: 5px;
        height: auto;

    }

    span{
        font-weight: bold;
        color: red;

    }

    .preço{
        font-weight: bold;
        color: #000000;
        text-decoration: line-through;    
    }

}

main img{
    width: 200px;
    height: 200px;
    display: flex;
    align-self: flex-start;
    margin-top: -190px;
    margin-left: 40px;
}



div{
    padding: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #BCCCDC;


p{
    text-align: justify;
    line-height: 1.5;
}
}


section{
    padding: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F8FAFC;




p{
    text-align: justify;
    line-height: 1.5;}
}


