* body{
    margin: 10px;
    padding: 10px;
    display: flexbox;

    
}
h1{
    padding: 28px;
    justify-content: center;
    background-color: #BCCCDC;
    color: black;
    font-size: xx-large;
    font-family: 'Garamond';

}

div{
    height: 91px;
}

nav{
    margin: auto;
    display: flex;
    padding: 5px 15px;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    top: -100px;
    margin-bottom: -0px;
   
}

nav a{
  
    padding: 10px;
    justify-content: flex-end;
    padding-bottom: 0;
}

input{
    padding: 6px;
    display: block;
    background-color: #ffffff;
    margin: 30px;
    width: 15cm;  
    margin-left: 30px;
    border-color: #ffffff;

}
 nav button{
    margin: 5px;
    padding: -15px;
    height: 35px;
    width: 50px;
    margin-right: 40px;
    margin-left: -20px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    
}

section{
    display: flex;
    flex-direction: column;
    text-indent: 1.25cm;
    background-color: #F8FAFC;
    height: 200vh;
    justify-content: flex-start;
    align-items: center;
    padding: 19px;
  
  
}

section h1{
    text-align: center;
    background-color: #F8FAFC;

}

section p{
    text-align: justify;
    text-indent: 1.25cm;
    line-height: 1.5;
    font-size: larger;
    font-family: 'Garamond';
    padding: -23px;
    


}

#img-busca{
    width: 20px;
}

#imagem-nav{
    width: 30px;
}

#imagem-Duetto{
    margin: 0px auto;
    display: block;
    width: 200px;
    
}

.Logo{
    background-color: #D9EAFD;
   height: 200px;
    
}

