* body{
    margin: 10px;
    padding: 20px;
    display: flexbox;

    
}
h1{
    padding: 30px;
    margin: 6px;
    margin-bottom: 0px;
    background-color: #D9DFC6;


}

div{
    height: 91px;
}

nav{
    margin: auto;
    display: flex;
    padding: 5px 10px;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    top: -100px;
    margin-bottom: -0px;
   
}

nav a{
  
    padding: 10px;
    justify-content: flex-end;
    padding-bottom: 0;
}

input{
    padding: 6px;
    display: block;
    background-color: rgb(255, 255, 255);
    margin: 30px;
    width: 15cm;  

}
 nav button{
    margin: 5px;
    padding: -10px;
    height: -100cm;
    width: -2cm;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
}

section{
    display: flex;
    flex-direction: column;
    text-indent: 1.25cm;
    background-color: #EFF3EA;
    padding: 200px;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    margin-bottom: 0px;
    
  
}

section h1{
    text-align: center;
    margin-bottom: 400px;
    padding-bottom: 40px;
    background-color: #EFF3EA;

}

section p{
    text-align: justify;
    margin: 10px;
    padding: 10px;
    text-indent: 1.25cm;
}

img{
    margin: 20px auto;
    display: block;
    
}

.Logo{
    background-color: #fff2c2;
    padding-bottom: 90px;
    margin: 5px;
}

